<div class="align-center">
  <h3>Lista de empréstimos:</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Data</th>
          <th scope="col">Solicitante</th>
          <th scope="col">Livros emprestados</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emprestimo of lista">
          <td>{{emprestimo.id}}</td>
          <td>
            {{ emprestimo.data.getDate() | number: '2.0' }}-{{ (emprestimo.data.getMonth() + 1) | number: '2.0' }}-{{ emprestimo.data.getFullYear() }}:{{ emprestimo.data.getHours() | number: '2.0' }}:{{ emprestimo.data.getMinutes() | number: '2.0' }}
          </td>
          <td *ngIf="emprestimo.usuario">{{emprestimo.usuario.nome}}</td>
          <td *ngIf="emprestimo.livros.length > 1; else umResultado">
            {{emprestimo.livros[0].titulo}}, ...
          </td>
          <ng-template #umResultado>
            <td>{{emprestimo.livros[0].titulo}}</td>
          </ng-template>
          <td>
          <button type="button" class="btn btn-success" mdbRipple routerLink="/admin/emprestimos/edit/{{emprestimo.id}}">Editar</button>
<button type="button" class="btn btn-danger" mdbRipple (click)="delete(emprestimo.id)">Deletar</button>
</td>
        </tr>
      </tbody>
      <button type="button" class="btn btn-dark" mdbRipple routerLink="/admin/emprestimos/new">Novo</button>
    </table>
  </div>
  