<div class="container">
  <h1 class="justify-content-center my-4" style="color: #000;">Home</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let livro of lista">
      <div class="card">
        <img [src]="livro.imagem" class="card-img-top" alt="{{ livro.titulo }}">
        <div class="card-body">
          <h5 class="card-title">{{ livro.titulo }}</h5>
          <p class="card-text" *ngFor="let autor of livro.autores; let last = last">
            {{autor.nome}}<span *ngIf="last!">, </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
